<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <style>
        body {
            background: linear-gradient(to bottom right, #0033cc, #001f66);
            color: white;
            font-family: serif;
        }

        #chat-box {
            background: white;
            color: black;
            height: 300px;
            overflow-y: scroll;
            padding: 10px;
        }
    </style>
</head>
<body>

<h1>Welcome {{ username }}</h1>

<a href="/logout" style="color:yellow;">Logout</a> |
<a href="/clear" style="color:yellow;">Clear Chat</a> |
<a href="/admin" style="color:yellow;">Admin</a>

<h3>Total Messages: <span id="total">{{ total }}</span></h3>
<h3>Online Users: <span id="online">{{ online }}</span></h3>

<div id="chat-box">
    {% for msg in messages %}
        <p>
            <b>{{ msg.user }}</b> ({{ msg.time }}) :
            {{ msg.text }}
            {% if msg.label == "Non-toxic" %}
                <span style="color:green;">[Non-toxic]</span>
            {% elif msg.label == "Mild" %}
                <span style="color:orange;">[Mild]</span>
            {% else %}
                <span style="color:red;">[Severely Toxic]</span>
            {% endif %}
        </p>
    {% endfor %}
</div>

<input type="text" id="message" placeholder="Type message">
<button onclick="sendMessage()">Send</button>

<script>
var socket = io();

function sendMessage() {
    var input = document.getElementById("message");
    if (input.value.trim() !== "") {
        socket.emit("send_message", {
            message: input.value
        });
        input.value = "";
    }
}

socket.on("receive_message", function(data) {
    var box = document.getElementById("chat-box");

    var color = "green";
    if (data.label === "Mild") color = "orange";
    if (data.label === "Severely Toxic") color = "red";

    box.innerHTML +=
        "<p><b>" + data.user + "</b> (" + data.time + ") : "
        + data.text +
        " <span style='color:" + color + "'>[" + data.label + "]</span></p>";

    box.scrollTop = box.scrollHeight;
});

socket.on("update_total", function(total) {
    document.getElementById("total").innerText = total;
});

socket.on("update_online", function(count) {
    document.getElementById("online").innerText = count;
});

socket.on("banned", function() {
    alert("You are banned after 5 severely toxic messages.");
    window.location = "/";
});
</script>

</body>
</html>